<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row mt20">
            <img src="../../../assets/exam.png" width="500px" alt="">
            <div class="col-md-6 offset-md-3 left-align">
                <br><br><br>
                <h1 style="font-size: 50px; color: yellowgreen;">LET'S GO</h1>
                <br>
                <p>We organize Exams on various courses</p>
                <p>Register if Then You Should enable for Exam</p>
        
                <a
    [routerLink]="'/signup'" style="color: hotpink; text-decoration: none;" class="example-icon mr20" aria-label="Example icon-button with share icon">
      REGISTER HERE
    </a>
            </div>
        </div>
    </div>
</div>